<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 sidebar">
			<h3>Settings</h3>
		</div>
		<div class="col-sm-9 main">
			<form action="/notes" method="POST">
			<h3>List of options</h3>
			<p>This is the note content</p>
			</form>
		</div>
	</div>
</div>