<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Notorious note taking">
  <meta name="author" content="@cblanc">

  <title>Notorious</title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/app.css" rel="stylesheet">
  <!-- <link href="/public/css/bootstrap-theme.min.css" rel="stylesheet"> -->
</head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Notorious</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    <script src="/public/js/jquery-2.1.3.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>